{% extends "::base.html.twig" %}

{% block body %}
    <ul>
        <li><a href="{{ path('user_new') }}">Dodaj/edytuj/usuń użytkownika</a></li>
{#        <li><a href="{{ path('') }}"></a></li>#}
    </ul>
{% endblock %}
