{% extends "::base.html.twig" %}

{% block body %}
    <ul>
        <li><a href="{{ path('notice_new') }}">Dodaj ogłoszenie</a></li>
        <li><a href="{{ path('app_notice_shownoticesbyuserid', { 'id': id }) }}">Wyświetl swoje ogłoszenia </a></li>
        <li><a href="{{ path('showallnotices') }}">Wyświetl wszystkie ogłoszenia</a></li>
{#        <li>{{ id }}</li>#}
    </ul>
{% endblock %}
